/* Sign Up Page CSS */

.logo{
  width: 20%; 
}

.nav-auth ul {
  display: flex; 
  justify-content: space-between;
  margin-top: 20px; 
}

.nav-auth ul li{
  list-style-type: none; 
}

.nav ul{
  width: 100%; 
  display: flex; 
  justify-content: space-between; 
}

.nav ul li {
  list-style-type: none; 
  margin-right: 20px; 
  margin-top: 20px; 
}

.nav ul li h2{
  font-size: 25px; 
}

.nav ul li h2:hover{
  text-decoration: none; 
}

.nav-links-auth{
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  margin-right: 20px;
  list-style-type: none; 
  font-size: 17px; 
}

.nav-links-auth li{
  margin-right: 20px; 
 
}

.nav-links-auth li a:hover{
  text-decoration: none; 
  color: black;  
}

.nav-auth ul li h2{
  font-size: 25px; 
  list-style-type: none; 
}

.bookform {
  margin: 40px auto; 
  width: 60%;  
}

.book-fields{
  width: 100%; 
  border: 1px solid #ccc;
  padding: 9px;

}

.book-form-title{
  text-align: center; 
}

.book-form-title h2{
  font-size: 20px; 
  margin-bottom: 50px; 
  margin-top: 20px; 
}

.submit-book-form{
  margin-top: 30px; 
}

.book-fields{
  margin-bottom: 30px; 
}

.book-headline{
  margin-top: 20px; 
}

.statcard{
  margin: 4%; 
}

.map{
  margin-left: 7%; 
}

.sign-up-form form{
  width: 40%; 
  margin: 0 auto; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
}

/* .sign-up-form form .row{
  background-color: lightgrey; 
  padding: 10%; 
  margin: 20px; 
  margin-bottom: 50px; 
  border-radius: 20px; 
} */

.sign-up-form form .row input::placeholder{
  color: white; 
}

.sign-up-form h2{
  text-align: center; 
  margin: 20px 0 40px 0; 
}

.sign-up-button {
  margin-top: 40px; 
}

.sign-in-form form{
  width: 100%; 
  display: flex;  
  justify-content: center; 
  align-items: center; 
  flex-direction: column; 
}

.sign-in-form h2{
  margin-bottom: 30px; 
  margin-top: 60px; 
}

.sign-in-form button {
  margin-top: 20px; 
  margin-bottom: 20px; 
}

.sign-in-form .row input::placeholder{
  color: white; 
}


.buttons-submit-clear{
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.buttons-submit-clear button{
  margin-top: 20px; 
  margin-right: 10px; 
}

/* .giver-form{
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}

.giver-form h3{
  text-align: center; 
} */

.giver-logo {
  width: 100%; 
}

/* .book-input{
  margin-top: 20px; 
  margin-bottom: 10px; 
  width: 100%; 
}

.book-language-label{
  margin-left: 10px;  
}

.book-label{
  margin-bottom: 15px; 
} */
