/* Sign Up Page CSS */
.nav-auth ul {
  display: flex; 
  justify-content: space-between;
  margin-top: 20px; 
}

.nav-auth ul li{
  list-style-type: none; 
}

.nav ul{
  width: 100%; 
  display: flex; 
  justify-content: space-between; 
}

.nav ul li {
  list-style-type: none; 
  margin-right: 20px; 
  margin-top: 20px; 
}

.nav ul li h2{
  font-size: 25px; 
}

.nav ul li h2:hover{
  text-decoration: none; 
}

.nav-links-auth{
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  margin-right: 20px;
  list-style-type: none; 
  font-size: 17px; 
}

.nav-links-auth li{
  margin-right: 20px; 
 
}

.nav-links-auth li a:hover{
  text-decoration: none; 
  color: white; 
}

.nav-auth ul li h2{
  font-size: 25px; 
  list-style-type: none; 
}

.bookform {
  margin: 40px auto; 
  width: 80%;  
}

.bookform h1, .bookform h2{
  text-align: center; 
}

.bookform h2{
  font-size: 20px; 
  margin-bottom: 50px; 
}

.bookform form {
  margin-top: 30px; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}

.button-add-book{
  margin-top: 20px; 
  margin-bottom: 40px; 
}

.statcard{
  margin: 20px; 
}

.map{
  margin-left: 5%; 
}

.sign-up-form form{
  width: 65%; 
  margin: 0 auto; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
}

/* .sign-up-form form .row{
  background-color: lightgrey; 
  padding: 10%; 
  margin: 20px; 
  margin-bottom: 50px; 
  border-radius: 20px; 
} */

.sign-up-form form .row input::placeholder{
  color: white; 
}

.sign-up-form h2{
  text-align: center; 
  margin: 20px 0 40px 0; 
}

.sign-up-button {
  margin-top: 40px; 
}

.sign-in-form form{
  width: 100%; 
  display: flex;  
  justify-content: center; 
  align-items: center; 
  flex-direction: column; 
}

.sign-in-form h2{
  margin-bottom: 30px; 
  margin-top: 60px; 
}

.sign-in-form button {
  margin-top: 20px; 
  margin-bottom: 20px; 
}

.sign-in-form .row input::placeholder{
  color: white; 
}