/* Sign Up Page CSS */
.nav-auth ul, .nav ul {
  display: flex; 
  justify-content: space-between;
}

.nav-links-auth{
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  margin-right: 20px;
  list-style-type: none; 
  font-size: 17px; 
}

.nav-links-auth li{
  margin-right: 20px; 
}

.nav-links-auth li a:hover{
  text-decoration: none; 
  color: white; 
}

.bookform {
  margin: 40px auto; 
  width: 80%;  
}

.bookform h1, .bookform h2{
  text-align: center; 
}

.bookform h2{
  font-size: 20px; 
  margin-bottom: 50px; 
}

.bookform form {
  margin-top: 30px; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}

.button-add-book{
  margin-top: 20px; 
  margin-bottom: 40px; 
}